# Project: Data Modeling with Cassandra  
A startup called Sparkify wants to analyze the data they've been collecting on songs and user activity on their new music streaming app. The analysis team is particularly interested in understanding what songs users are listening to. Currently, there is no easy way to query the data to generate the results, since the data reside in a directory of CSV files on user activity on the app.

## Project Overview  
In this project, data models are created with Apache Cassandra and ETL pipeline will be created using Python :  
- keyspace and tables in Apache Cassandra are created to run queries.  
- an ETL pipeline will transfer data from a set of CSV files within a directory to create a streamlined CSV file to model and insert data into Apache Cassandra tables.

# Part I. ETL Pipeline for Pre-Processing the Files

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    # print(file_path_list)

/c/Users/sdelo/SynologyDrive/data_science/mooc/udacity/01_data_engineering/01_data_modeling/02_udacity_data_engineering_project_nosql

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [4]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
# print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
# print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

', 'PUT', 'NextSong', '1.54047E+12', '977', 'Feel It', '200', '1.54359E+12', '85']
['Sugababes', 'Logged In', 'Kinsley', 'F', '33', 'Young', '275.93098', 'paid', 'Red Bluff, CA', 'PUT', 'NextSong', '1.54047E+12', '977', 'Overload', '200', '1.54359E+12', '85']
['Gyptian', 'Logged In', 'Rylan', 'M', '13', 'George', '233.09016', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Hold You', '200', '1.54359E+12', '16']
['Zion / Akon', 'Logged In', 'Rylan', 'M', '14', 'George', '233.19465', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'The Way She Moves', '200', '1.54359E+12', '16']
['Transvision Vamp', 'Logged In', 'Rylan', 'M', '15', 'George', '209.91955', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'I Want Your Love', '200', '1.54359E+12', '16']
['Ry Cooder', 'Logged In', 'Chloe', 'F', '37', 'Cuevas', '201.56036', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1096', 'Corrido de Boxeo', '200', '1.54359E+12', '49']
['The Pussycat Dolls', 'Logged In', 'Rylan', 'M', '16', 'George', '245.18485', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'When I Grow Up', '200', '1.54359E+12', '16']
['Coldplay', 'Logged In', 'Chloe', 'F', '38', 'Cuevas', '268.30322', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1096', 'Yellow', '200', '1.54359E+12', '49']
['Forever The Sickest Kids', 'Logged In', 'Rylan', 'M', '17', 'George', '169.482', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'She Likes (Bittersweet Love)', '200', '1.54359E+12', '16']
['Lil Wayne / Blaque / Mannie Fresh', 'Logged In', 'Chloe', 'F', '39', 'Cuevas', '255.34649', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1096', 'Believe That', '200', '1.54359E+12', '49']
['Dragonforce', 'Logged In', 'Rylan', 'M', '18', 'George', '441.02485', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Through The Fire And Flames (Album Version)', '200', '1.54359E+12', '16']
['Jason Mraz & Colbie Caillat', 'Logged In', 'Chloe', 'F', '40', 'Cuevas', '189.6224', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1096', 'Lucky (Album Version)', '200', '1.54359E+12', '49']
['Pixies', 'Logged In', 'Chloe', 'F', '41', 'Cuevas', '181.13261', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1096', 'Is She Weird', '200', '1.54359E+12', '49']
['Eminem', 'Logged In', 'Rylan', 'M', '19', 'George', '251.55873', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Without Me', '200', '1.54359E+12', '16']
['Buju Banton', 'Logged In', 'Chloe', 'F', '42', 'Cuevas', '232.48934', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1096', 'Cry No More', '200', '1.54359E+12', '49']
['Cage The Elephant', 'Logged In', 'Rylan', 'M', '20', 'George', '196.38812', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Lotus', '200', '1.54359E+12', '16']
['Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner', 'Logged In', 'Chloe', 'F', '43', 'Cuevas', '277.15873', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1096', 'Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)', '200', '1.54359E+12', '49']
['Ste Strausz', 'Logged In', 'Rylan', 'M', '21', 'George', '285.36118', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Le Million', '200', '1.54359E+12', '16']
['Coldplay', 'Logged In', 'Chloe', 'F', '44', 'Cuevas', '228.62322', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1096', 'Only Superstition', '200', '1.54359E+12', '49']
['Joe Christmas', 'Logged In', 'Chloe', 'F', '0', 'Roth', '185.7824', 'free', 'Indianapolis-Carmel-Anderson, IN', 'PUT', 'NextSong', '1.5407E+12', '1059', 'Bedroom Suite', '200', '1.54359E+12', '78']
['Bright Eyes', 'Logged In', 'Rylan', 'M', '22', 'George', '313.23383', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'A New Arrangement', '200', '1.54359E+12', '16']
['Paramore', 'Logged In', 'Chloe', 'F', '1', 'Roth', '267.65016', 'free', 'Indianapolis-Carmel-Anderson, IN', 'PUT', 'NextSong', '1.5407E+12', '1059', 'The Only Exception (Album Version)', '200', '1.54359E+12', '78']
['J. Karjalainen & Mustat Lasit', 'Logged In', 'Chloe', 'F', '45', 'Cuevas', '336.74404', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1096', 'Sinisten tÃ\x83Â¤htien alla', '200', '1.54359E+12', '49']
['', 'Logged In', 'Jayden', 'M', '0', 'Fox', '', 'free', 'New Orleans-Metairie, LA', 'GET', 'Home', '1.54103E+12', '1108', '', '200', '1.54359E+12', '101']
['Philip Glass', 'Logged In', 'Rylan', 'M', '23', 'George', '368.40444', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Knee 2', '200', '1.5436E+12', '16']
['Alliance Ethnik', 'Logged In', 'Chloe', 'F', '46', 'Cuevas', '195.94404', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1096', 'SinceritÃ\x83Â© Et Jalousie', '200', '1.5436E+12', '49']
['Mew', 'Logged In', 'Rylan', 'M', '24', 'George', '167.75791', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Her Voice Is Beyond Her Years', '200', '1.5436E+12', '16']
['', 'Logged In', 'Chloe', 'F', '0', 'Cuevas', '', 'paid', 'San Francisco-Oakland-Hayward, CA', 'GET', 'Home', '1.54094E+12', '1114', '', '200', '1.5436E+12', '49']
['Ive Mendes', 'Logged In', 'Rylan', 'M', '25', 'George', '238.94159', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'If You Leave Me Now', '200', '1.5436E+12', '16']
['', 'Logged In', 'Bronson', 'M', '0', 'Harris', '', 'free', 'Eugene, OR', 'GET', 'Home', '1.54091E+12', '1026', '', '200', '1.5436E+12', '33']
['Alliance Ethnik', 'Logged In', 'Bronson', 'M', '1', 'Harris', '195.94404', 'free', 'Eugene, OR', 'PUT', 'NextSong', '1.54091E+12', '1026', 'SinceritÃ\x83Â© Et Jalousie', '200', '1.5436E+12', '33']
['the bird and the bee', 'Logged In', 'Rylan', 'M', '26', 'George', '193.802', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Diamond Dave', '200', '1.5436E+12', '16']
['Common / Sadat X', 'Logged In', 'Bronson', 'M', '2', 'Harris', '256.20853', 'free', 'Eugene, OR', 'PUT', 'NextSong', '1.54091E+12', '1026', '1999', '200', '1.5436E+12', '33']
['', 'Logged In', 'Bronson', 'M', '3', 'Harris', '', 'free', 'Eugene, OR', 'GET', 'Upgrade', '1.54091E+12', '1026', '', '200', '1.5436E+12', '33']
['', 'Logged In', 'Bronson', 'M', '4', 'Harris', '', 'free', 'Eugene, OR', 'GET', 'Upgrade', '1.54091E+12', '1026', '', '200', '1.5436E+12', '33']
['Alanis Morissette', 'Logged In', 'Rylan', 'M', '27', 'George', '245.15873', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'King Of Pain (Live/Unplugged Version)', '200', '1.5436E+12', '16']
['', 'Logged In', 'Bronson', 'M', '5', 'Harris', '', 'free', 'Eugene, OR', 'GET', 'Home', '1.54091E+12', '1026', '', '200', '1.5436E+12', '33']
['', 'Logged In', 'Bronson', 'M', '6', 'Harris', '', 'free', 'Eugene, OR', 'GET', 'Upgrade', '1.54091E+12', '1026', '', '200', '1.5436E+12', '33']
['Skillet', 'Logged In', 'Bronson', 'M', '7', 'Harris', '233.32526', 'free', 'Eugene, OR', 'PUT', 'NextSong', '1.54091E+12', '1026', 'Rebirthing (Album Version)', '200', '1.5436E+12', '33']
['', 'Logged In', 'Bronson', 'M', '8', 'Harris', '', 'free', 'Eugene, OR', 'PUT', 'Logout', '1.54091E+12', '1026', '', '307', '1.5436E+12', '33']
['James Galway;Julian Lee', 'Logged In', 'Rylan', 'M', '28', 'George', '218.67057', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Beauty and the Beast', '200', '1.5436E+12', '16']
['', 'Logged Out', '', '', '9', '', '', 'free', '', 'GET', 'Home', '', '1026', '', '200', '1.5436E+12', '']
['Drop Dead_ Gorgeous', 'Logged In', 'Rylan', 'M', '29', 'George', '156.70812', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Dressed For Friend Requests (Album Version)', '200', '1.5436E+12', '16']
['Dwight Yoakam', 'Logged In', 'Rylan', 'M', '30', 'George', '239.3073', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', "You're The One", '200', '1.5436E+12', '16']
['Trouble', 'Logged In', 'Rylan', 'M', '31', 'George', '205.11302', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', "Tuesday's Child", '200', '1.5436E+12', '16']
['', 'Logged In', 'Rylan', 'M', '32', 'George', '', 'paid', 'Birmingham-Hoover, AL', 'GET', 'Downgrade', '1.54102E+12', '1076', '', '200', '1.5436E+12', '16']
['OneRepublic', 'Logged In', 'Rylan', 'M', '33', 'George', '237.97506', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'All The Right Moves', '200', '1.5436E+12', '16']
['Switchblade Symphony', 'Logged In', 'Rylan', 'M', '34', 'George', '259.5522', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Wicked', '200', '1.5436E+12', '16']
['Sharooz', 'Logged In', 'Rylan', 'M', '35', 'George', '234.05669', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'My Distressor 40Khz ReRub Mix', '200', '1.5436E+12', '16']
['Explosions In The Sky', 'Logged In', 'Rylan', 'M', '36', 'George', '522.9971', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Six Days At The Bottom Of The Ocean', '200', '1.5436E+12', '16']
['', 'Logged In', 'Austin', 'M', '0', 'Rosales', '', 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'Home', '1.54106E+12', '1101', '', '200', '1.5436E+12', '12']
['Emmylou Harris', 'Logged In', 'Chloe', 'F', '1', 'Cuevas', '194.63791', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Little Bird', '200', '1.5436E+12', '49']
['Jack Johnson', 'Logged In', 'Chloe', 'F', '2', 'Cuevas', '153.67791', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'The Horizon Has Been Defeated', '200', '1.5436E+12', '49']
['Radiohead', 'Logged In', 'Rylan', 'M', '37', 'George', '249.93914', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Everything In Its Right Place', '200', '1.5436E+12', '16']
['Andrew Bird', 'Logged In', 'Chloe', 'F', '3', 'Cuevas', '215.87546', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Heretics', '200', '1.5436E+12', '49']
['Metallica', 'Logged In', 'Rylan', 'M', '38', 'George', '380.21179', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Sabbra Cadabra', '200', '1.5436E+12', '16']
['Lonnie Gordon', 'Logged In', 'Chloe', 'F', '4', 'Cuevas', '181.21098', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', '200', '1.5436E+12', '49']
['Dropkick Murphys', 'Logged In', 'Chloe', 'F', '5', 'Cuevas', '167.73179', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Shattered', '200', '1.5436E+12', '49']
['Eric B. & Rakim', 'Logged In', 'Rylan', 'M', '39', 'George', '240.32608', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'As The Rhyme Goes On', '200', '1.5436E+12', '16']
['Dierks Bentley', 'Logged In', 'Chloe', 'F', '6', 'Cuevas', '223.242', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Settle For A Slowdown', '200', '1.5436E+12', '49']
['Regina Spektor', 'Logged In', 'Rylan', 'M', '40', 'George', '290.14159', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Daniel Cowman', '200', '1.5436E+12', '16']
['Angelspit', 'Logged In', 'Chloe', 'F', '7', 'Cuevas', '241.94567', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Make You Sin', '200', '1.5436E+12', '49']
['Young Gunz / Beanie Sigel', 'Logged In', 'Chloe', 'F', '8', 'Cuevas', '292.44036', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Roc U', '200', '1.5436E+12', '49']
['DJ Dizzy', 'Logged In', 'Rylan', 'M', '41', 'George', '221.1522', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Sexy Bitch', '200', '1.5436E+12', '16']
['Base Ball Bear', 'Logged In', 'Rylan', 'M', '42', 'George', '255.60771', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Sayonara-Nostalgia', '200', '1.5436E+12', '16']
['Morcheeba', 'Logged In', 'Chloe', 'F', '9', 'Cuevas', '101.95546', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'In The Hands Of The Gods (Featuring Biz Markie)', '200', '1.5436E+12', '49']
['Bitter:Sweet', 'Logged In', 'Chloe', 'F', '10', 'Cuevas', '194.16771', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', "Don't Forget To Breathe", '200', '1.5436E+12', '49']
['Basshunter Feat. DJ Mental Theo\x19s Bazzheadz', 'Logged In', 'Rylan', 'M', '43', 'George', '152.65914', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', "Now You're Gone", '200', '1.5436E+12', '16']
['BjÃ\x83Â¶rk', 'Logged In', 'Chloe', 'F', '11', 'Cuevas', '348.57751', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Undo', '200', '1.5436E+12', '49']
['Rihanna', 'Logged In', 'Rylan', 'M', '44', 'George', '239.75138', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'G4L', '200', '1.5436E+12', '16']
['Evanescence', 'Logged In', 'Rylan', 'M', '45', 'George', '220.3424', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Hello', '200', '1.5436E+12', '16']
['Mr. Vegas', 'Logged In', 'Chloe', 'F', '12', 'Cuevas', '240.69179', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Tamale', '200', '1.5436E+12', '49']
['Mischa Daniels', 'Logged In', 'Rylan', 'M', '46', 'George', '419.81342', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Another Place', '200', '1.5436E+12', '16']
['The Menzingers', 'Logged In', 'Chloe', 'F', '13', 'Cuevas', '276.00934', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Straight To Hell', '200', '1.5436E+12', '49']
['Justin Timberlake', 'Logged In', 'Chloe', 'F', '14', 'Cuevas', '288.93995', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Cry Me A River', '200', '1.5436E+12', '49']
['Vilma Palma e Vampiros', 'Logged In', 'Rylan', 'M', '47', 'George', '338.18077', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Un Camino Hasta Vos', '200', '1.5436E+12', '16']
['CCCP - Fedeli Alla Linea', 'Logged In', 'Chloe', 'F', '15', 'Cuevas', '329.66485', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Sura (2008 Digital Remaster)', '200', '1.5436E+12', '49']
['Kid Cudi / MGMT / Ratatat', 'Logged In', 'Rylan', 'M', '48', 'George', '295.67955', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Pursuit Of Happiness (nightmare)', '200', '1.5436E+12', '16']
['Drake / Kanye West / Lil Wayne / Eminem', 'Logged In', 'Chloe', 'F', '16', 'Cuevas', '357.66812', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Forever', '200', '1.5436E+12', '49']
['A Day To Remember', 'Logged In', 'Rylan', 'M', '49', 'George', '247.64036', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Homesick [Acoustic]', '200', '1.5436E+12', '16']
['T.I.', 'Logged In', 'Jayden', 'M', '0', 'Bell', '299.75465', 'free', 'Dallas-Fort Worth-Arlington, TX', 'PUT', 'NextSong', '1.54099E+12', '1085', 'Dead And Gone [feat. Justin Timberlake] (Explicit Album Version)', '200', '1.5436E+12', '91']
['The Offspring', 'Logged In', 'Rylan', 'M', '50', 'George', '163.3171', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', "It'll Be a Long Time (Album Version)", '200', '1.5436E+12', '16']
['Jorge Gonzalez', 'Logged In', 'Chloe', 'F', '17', 'Cuevas', '272.14322', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Esta Es Para Hacerte FÃ\x83Â©liz', '200', '1.5436E+12', '49']
['Sneaker Pimps', 'Logged In', 'Jayden', 'M', '1', 'Bell', '260.91057', 'free', 'Dallas-Fort Worth-Arlington, TX', 'PUT', 'NextSong', '1.54099E+12', '1085', 'Spin Spin Sugar', '200', '1.5436E+12', '91']
['Escape The Fate', 'Logged In', 'Rylan', 'M', '51', 'George', '266.73587', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'This War Is Ours (The Guillotine II)', '200', '1.5436E+12', '16']
['Juanes', 'Logged In', 'Chloe', 'F', '18', 'Cuevas', '243.27791', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'La Vida Es Un Ratico', '200', '1.5436E+12', '49']
['The Replacements', 'Logged In', 'Rylan', 'M', '52', 'George', '170.57914', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Never Mind', '200', '1.5436E+12', '16']
['Sarah McLachlan', 'Logged In', 'Chloe', 'F', '19', 'Cuevas', '278.90893', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Possession', '200', '1.5436E+12', '49']
['Sonny Boy Williamson', 'Logged In', 'Rylan', 'M', '53', 'George', '152.24118', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', "Don't Start Me Talkin'", '200', '1.5436E+12', '16']
['Soul II Soul Featuring Caron Wheeler', 'Logged In', 'Rylan', 'M', '54', 'George', '225.2273', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Back To Life (However Do You Want Me) (2003 Digital Remaster) (Feat. Caron Wheeler)', '200', '1.5436E+12', '16']
['Florence + The Machine', 'Logged In', 'Chloe', 'F', '20', 'Cuevas', '219.66322', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Dog Days Are Over (Radio Edit)', '200', '1.5436E+12', '49']
['Pantera', 'Logged In', 'Rylan', 'M', '55', 'George', '286.69342', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Heresy  (LP Version)', '200', '1.5436E+12', '16']
['', 'Logged In', 'Rylan', 'M', '56', 'George', '', 'paid', 'Birmingham-Hoover, AL', 'GET', 'Help', '1.54102E+12', '1076', '', '200', '1.5436E+12', '16']
['Cold', 'Logged In', 'Chloe', 'F', '21', 'Cuevas', '177.76281', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Remedy', '200', '1.5436E+12', '49']
['Norther', 'Logged In', 'Chloe', 'F', '22', 'Cuevas', '246.54322', 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', '1.54094E+12', '1114', 'Frozen Angel', '200', '1.5436E+12', '49']
['Foo Fighters', 'Logged In', 'Rylan', 'M', '57', 'George', '271.38567', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'The Pretender', '200', '1.5436E+12', '16']
['Timbiriche', 'Logged In', 'Rylan', 'M', '58', 'George', '202.60526', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Besos De Ceniza', '200', '1.5436E+12', '16']
['A Perfect Circle', 'Logged In', 'Rylan', 'M', '59', 'George', '206.05342', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'Rose', '200', '1.5436E+12', '16']
['Anberlin', 'Logged In', 'Rylan', 'M', '60', 'George', '348.682', 'paid', 'Birmingham-Hoover, AL', 'PUT', 'NextSong', '1.54102E+12', '1076', 'The Haunting', '200', '1.5436E+12', '16']
['', 'Logged In', 'Rylan', 'M', '61', 'George', '', 'paid', 'Birmingham-Hoover, AL', 'GET', 'Downgrade', '1.54102E+12', '1076', '', '200', '1.5436E+12', '16']
['Deas Vail', 'Logged In', 'Elijah', 'M', '0', 'Davis', '237.68771', 'free', 'Detroit-Warren-Dearborn, MI', 'PUT', 'NextSong', '1.54077E+12', '985', 'Anything You Say (Unreleased Version)', '200', '1.54361E+12', '5']

In [5]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist [0]
- firstName of user [1]
- gender of user [2]
- item number in session [3]
- last name of user [4]
- length of the song [5]
- level (paid or free song) [6]
- location of the user [7]
- sessionId [8]
- song title [9]
- userId [10]

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

In [6]:
# pandas dataframe will be used offer easier features to process data instead of parsing raw CSV file
# load denormalized event files to pandas dataframe df_events
# this denormalized pandas dataframe df_events will be use to insert data to Cassandra table

df_events = pd.read_csv('event_datafile_new.csv', encoding='utf8')

In [7]:
# view info and columns name of events data dataframe
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820 entries, 0 to 6819
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artist         6820 non-null   object
 1   firstName      6820 non-null   object
 2   gender         6820 non-null   object
 3   itemInSession  6820 non-null   int64
 4   lastName       6820 non-null   object
 5   length         6820 non-null   float64
 6   level          6820 non-null   object
 7   location       6820 non-null   object
 8   sessionId      6820 non-null   int64
 9   song           6820 non-null   object
 10  userId         6820 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 586.2+ KB

In [8]:
# view random sampling of events data to understand better the denormalized event dataset
df_events.sample(20)

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
2722,Fedde le Grand Pres. Flamingo,Avery,F,70,Watkins,396.32934,paid,"San Jose-Sunnyvale-Santa Clara, CA",324,Take No Shhh (Original Mix),30
5213,HervÃÂ© & Kissy Sellout,Chloe,F,23,Cuevas,341.41995,paid,"San Francisco-Oakland-Hayward, CA",849,Rikkalicious,49
3711,The Ruts,Layla,F,69,Griffin,338.96444,paid,"Lake Havasu City-Kingman, AZ",672,West One (Shine On Me),24
3778,Third Day,Chloe,F,24,Cuevas,279.17016,paid,"San Francisco-Oakland-Hayward, CA",708,God of Wonders,49
1392,Jack Johnson,Tegan,F,33,Levine,212.68853,paid,"Portland-South Portland, ME",416,Breakdown,80
3325,Carla Bruni,Chloe,F,14,Cuevas,163.02975,paid,"San Francisco-Oakland-Hayward, CA",648,Quelqu'un M'a Dit (Album Version),49
1736,Jorgen Ingmann,Jacob,M,8,Klein,157.23057,paid,"Tampa-St. Petersburg-Clearwater, FL",294,Oh! (LP Version),73
1275,Riverside,Harper,M,21,Barrett,236.27710,paid,"New York-Newark-Jersey City, NY-NJ-PA",275,Stuck Between,42
6403,Greg Dulli,Avery,F,39,Martinez,221.17832,paid,"Atlanta-Sandy Springs-Roswell, GA",1017,Pussywillow,82
5945,Ron Carter,Kate,F,23,Harrell,497.13587,paid,"Lansing-East Lansing, MI",944,I CAN'T GET STARTED,97
1320,Nightwish,Lily,F,5,Koch,330.97098,paid,"Chicago-Naperville-Elgin, IL-IN-WI",362,Walking In The Air,15
4618,Manolo Otero,Chloe,F,48,Cuevas,253.75302,paid,"San Francisco-Oakland-Hayward, CA",816,QuÃÂ© He De Hacer Para Olvidarte,49
3293,Andrew Bird,Layla,F,22,Griffin,305.81506,paid,"Lake Havasu City-Kingman, AZ",407,How You Gonna Keep 'Em Down On The Farm,24
4517,A Day To Remember,Chloe,F,1,Cuevas,213.81179,paid,"San Francisco-Oakland-Hayward, CA",816,My Life For Hire,49
857,Adelitas Way,Kate,F,29,Harrell,192.26077,paid,"Lansing-East Lansing, MI",293,Invincible (WWE Superstars Theme Song) (Explicit),97
1918,Mario Rosenstock,Chloe,F,5,Cuevas,183.14404,free,"San Francisco-Oakland-Hayward, CA",528,FAI Piss-Up 1,49
6262,Common,Rylan,M,8,George,144.16934,paid,"Birmingham-Hoover, AL",983,Be (Intro),16
6011,Talkdemonic,Theodore,M,1,Harris,129.85424,free,"Red Bluff, CA",929,Mountaintops In Caves,14
325,Puddle Of Mudd,Aleena,F,20,Kirby,210.80771,paid,"Waterloo-Cedar Falls, IA",196,Psycho,44
3578,ExposÃÂ©,Jacqueline,F,83,Lynch,249.41669,paid,"Atlanta-Sandy Springs-Roswell, GA",589,Let Me Be The One,29

## ETL pipeline to create Cassandra Cluster, Keyspace, tables, queries

Ypu must run a local Cassandra cluster with Docker before running the cells below on a local computer :
``` Docker
docker-compose up -d
```

#### Creating a Cluster

In [9]:
# This will make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster


# To establish connection and begin executing queries, connect session to Cassandra local cluster (Docker)
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create Keyspace

In [10]:
# Create a Keyspace called sparkify
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkify 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

In [11]:
# Set KEYSPACE to the keyspace sparkify above
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

### Drop any existing tables before creating them

We need to answer 3 queries so there will be 3 data models. 3 tables will be created

In [12]:
# use if necessary the following DROP TABLE queries to delete and reset existing tables before testing the ETL pipeline

drop_table_query_1 = "DROP TABLE IF EXISTS session_details;"
session.execute(drop_table_query_1)

drop_table_query_2 = "DROP TABLE IF EXISTS user_activity_in_session;"
session.execute(drop_table_query_2)

drop_table_query_3 = "DROP TABLE IF EXISTS songs_listeners;"
session.execute(drop_table_query_3)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.


## Creating queries to ask the following three questions from the event data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

### Creating and testing Data Model for the following query
### 1. Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4

In [13]:
## Data Model for Cassandra Database to ansnwer the query
#
# the query is looking for artist and song information for specific sessionId and itemInSession
# sessionId and itemInSession can be used as primary key
# here is the corresponding CREATE TABLE query -> create session_details table

create_table_query_1 = "CREATE TABLE IF NOT EXISTS session_details "
create_table_query_1 = create_table_query_1 + "(session_id int, item_in_session int, artist_name text, song_title text, song_length float, PRIMARY KEY (session_id, item_in_session))"
try:
    session.execute(create_table_query_1)
except Exception as e:
    print(e)

In [14]:
# load event data pandas dataframe to cassandra table using PreparedStatements 
# here is the INSERT INTO query to load the data to Cassandra database to session_details table

insert_query_1 = "INSERT INTO session_details (session_id, item_in_session, artist_name, song_title, song_length)"
insert_query_1 = insert_query_1 + " VALUES (?, ?, ?, ?, ?)"

prepared_query_1 = session.prepare(insert_query_1)

for index, row in df_events.iterrows():
    session.execute(prepared_query_1, (row['sessionId'], row['itemInSession'], row['artist'],
                                        row['song'], row['length']))

In [16]:
## Here is the SELECT statement to verify the data was entered into the table
## Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4

sessionId = 338
itemInSession = 4

select_query_1 = "SELECT artist_name, song_title, song_length \
                    FROM session_details \
                    WHERE session_id = %s \
                    AND item_in_session = %s"

# the select query is executed and results are returned to a pandas dataframe

rows = session.execute(select_query_1, (sessionId, itemInSession))

# define a results dictionnary
query_results_1 = {'artist_name':[],
                    'song_title':[],
                    'song_length' :[]
                    }

# append the results row by row to the dictionnary
for row in rows:
    query_results_1['artist_name'].append(row.artist_name)     
    query_results_1['song_title'].append(row.song_title)
    query_results_1['song_length'].append(row.song_length)

# create a pandas dataframe from the query results
df_query_1 = pd.DataFrame(query_results_1)

# view query results dataframe
df_query_1

  artist_name                       song_title  song_length
0   Faithless  Music Matters (Mark Knight Dub)   495.307312

### Creating and testing Data Model for the following query
### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [17]:
## Data Model for Cassandra Database to ansnwer the query
#
# the query is looking for specific userid and sessionid
# userid and sessionid can be used as primary key
# we will add itemInSession  as clustering Columns to sort the data 
# here is the corresponding CREATE TABLE query -> create user_activity_in_session table

create_table_query_2 = "CREATE TABLE IF NOT EXISTS user_activity_in_session "
create_table_query_2 = create_table_query_2 + "(user_id int, session_id int, item_in_session int, artist_name text, song_title text, user_firstname text, user_lastname text, PRIMARY KEY (user_id, session_id, item_in_session))"
try:
    session.execute(create_table_query_2)
except Exception as e:
    print(e)

In [18]:
# load event data pandas dataframe to cassandra table using PreparedStatements 
# here is the INSERT INTO query to load the data to Cassandra database to user_activity_in_session table


insert_query_2 = "INSERT INTO user_activity_in_session (user_id, session_id, item_in_session, artist_name, song_title, user_firstname, user_lastname)"
insert_query_2 = insert_query_2 + " VALUES (?, ?, ?, ?, ?, ?, ?)"

prepared_query_2 = session.prepare(insert_query_2)

for index, row in df_events.iterrows():
    session.execute(prepared_query_2, (row['userId'], row['sessionId'], row['itemInSession'],
                                        row['artist'], row['song'], row['firstName'], row['lastName']))

In [20]:
## Here is the SELECT statement to verify the data was entered into the table
## Query 2:  Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) \
## for userid = 10, sessionid = 182
userId = 10
sessionId = 182

select_query_2 = "SELECT item_in_session, artist_name, song_title, user_firstname, user_lastname \
                    FROM user_activity_in_session \
                    WHERE user_id = %s \
                    AND session_id = %s"

# the select query is executed and results are returned to a pandas dataframe
rows = session.execute(select_query_2, (userId, sessionId))

# define a results dictionnary
query_results_2 = {'artist_name':[],
                'song_title' :[],
                'user_firstname' :[],
                'user_lastname' : []
                }

# append the results row by row to the dictionnary
for row in rows:   
    query_results_2['artist_name'].append(row.artist_name)
    query_results_2['song_title'].append(row.song_title)
    query_results_2['user_firstname'].append(row.user_firstname)
    query_results_2['user_lastname'].append(row.user_lastname)

# create a pandas dataframe from the query results
df_query_2 = pd.DataFrame(query_results_2)

# view query results dataframe and check that songs are sorted by item_in_session
df_query_2

,artist_name,song_title,user_firstname,user_lastname
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

### Creating and testing Data Model for the following query
### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [21]:
## Data Model for Cassandra Database to ansnwer the query
#
# the query is looking for specific song and users listener
# song and userid can be used as primary key
# here is the corresponding CREATE TABLE query -> create songs_listeners table

create_table_query_3 = "CREATE TABLE IF NOT EXISTS songs_listeners "
create_table_query_3 = create_table_query_3 + "(user_id int, song_title text, user_firstname text, user_lastname text, PRIMARY KEY (song_title, user_id))"
try:
    session.execute(create_table_query_3)
except Exception as e:
    print(e)

In [22]:
# load event data pandas dataframe to cassandra table using PreparedStatements 
# here is the INSERT INTO query to load the data to Cassandra database to songs_listeners table

insert_query_3 = "INSERT INTO songs_listeners (user_id, song_title, user_firstname, user_lastname)"
insert_query_3 = insert_query_3 + " VALUES ( ?, ?, ?, ?)"

prepared = session.prepare(insert_query_3)

for index, row in df_events.iterrows():
    session.execute(prepared, (row['userId'], row['song'], row['firstName'], row['lastName']))

In [25]:
## Here is the SELECT statement to verify the data was entered into the table
# Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

song = 'All Hands Against His Own'

select_query_3 = "SELECT user_id, user_firstname, user_lastname \
                    FROM songs_listeners \
                    WHERE song_title = %s"

# the select query is executed and results are returned to a pandas dataframe
rows = session.execute(select_query_3, (song,))

# define a results dictionnary
query_results_3 = {"user_firstname":[],
                "user_lastname" : []
            }

# append the results row by row to the dictionnary
for row in rows:  
    query_results_3['user_firstname'].append(row.user_firstname)
    query_results_3['user_lastname'].append(row.user_lastname)

# create a pandas dataframe from the query results
df_query_3 = pd.DataFrame(query_results_3)


# view query results dataframe and check that user_id is correct fot the users
df_query_3

  user_firstname user_lastname
0     Jacqueline         Lynch
1          Tegan        Levine
2           Sara       Johnson

### Drop the tables before closing out the sessions

In [26]:
drop_table_query_1 = "DROP TABLE IF EXISTS session_details;"
session.execute(drop_table_query_1)

drop_table_query_2 = "DROP TABLE IF EXISTS user_activity_in_session;"
session.execute(drop_table_query_2)

drop_table_query_3 = "DROP TABLE IF EXISTS songs_listeners;"
session.execute(drop_table_query_3)

### Close the session and cluster connection¶

In [27]:
session.shutdown()
cluster.shutdown()